# ─── SvelteKit ───────────────────────────────────────────────────────────────
.svelte-kit/
build/

# ─── Node ────────────────────────────────────────────────────────────────────
node_modules/
.npm
*.log
npm-debug.log*

# ─── Vite ────────────────────────────────────────────────────────────────────
vite.config.js.timestamp-*

# ─── Sass ────────────────────────────────────────────────────────────────────
.sass-cache/
*.css.map

# ─── macOS ───────────────────────────────────────────────────────────────────
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.fseventsd
.TemporaryItems
